
*.pyc

notes.md


dump/clean/20*
dump/source/20*
dump/extract/20*
etl.log

libscrape/config/constants.py

libscrape/config/constants.py.bak

libscrape/config/config.py.bak

libscrape/config/db.py

batchGen.sh

extract.log

node_modules
